:root {
  --ball-y: 100%;
  --ball-x: 0;
}

html {
  font-family: "Roboto Mono", serif;

}
* { padding: 0;
    margin: 0;
    position: relative;
  }
body {
  background-color: rgb(48, 44, 44);
  color: rgb(209, 209, 209);
  margin: 0 auto;
  position: relative;
  overflow: hidden;

}
a {
  color: #ce723c;
  text-decoration: dotted;
}
li {
  font-weight: 400;
  margin: 4px 0 4px 0;
}

._10px_grid {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0px;
  left: 0px;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10'%3E%3Crect width='10' height='10' fill='rgb(30, 44, 49)' /%3E%3Crect x='50%' width='0.1' height='100%' fill='rgba(203, 213, 225, 0.15)' /%3E%3Crect y='50%' width='100%' height='0.1' fill='rgba(203, 213, 225, 0.15)' /%3E%3C/svg%3E%0A");
}

div:not(.parent) {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.parent {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(12, 8vw);
  grid-template-rows: repeat(12, 8vh);
}
#clock {
  font-family: "Roboto Mono", serif;
  font-size: 12px;
  grid-area: 1 / 1 / 2 / 2;
  height: 8vh;
  width: 8vw;
}
#mouse_pos {
  color: rgb(167, 75, 71);
  font-family: "Roboto Mono", serif;
  font-size: 12px;
  grid-area: 12 / 4 / 13 / 6;
  height: 8vh;
  width: 16vw;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
#mouse_pos p, #dimensions p {
  font-size: 10px;
}
#dimensions {
  color: rgb(81, 139, 86);
  position: relative;
  font-family: "Roboto Mono", serif;
  font-size: 12px;
  width: 16vw;
  height: 8vh;
  grid-area: 12 / 8 / 13 / 10;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;

}
#key-log {
  color: rgb(81, 139, 86);
  position: relative;
  font-family: "Roboto Mono", serif;
  font-size: 12px;
  width: 16vw;
  height: 8vh;
  grid-area: 12 / 6 / 13 / 8;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.div1 {
  color: rgb(151, 126, 24);
  width: calc(8vw * 8);
  height: calc(8vh * 8);
  grid-area: 3 / 3 / 11 / 11;
}
.div2 {
  width: calc(8vw * 12);
  height: 8vh;
  grid-area: 1 / 1 / 2 / 12;
  /* border-bottom: 01px solid rgba(226, 192, 141, 0.2); */
}
.div3 {
  width: 8vw;
  height: calc(8vh * 12);
  grid-area: 1 / 12 / 12 / 12;
  /* border-left: 01px solid rgba(226, 192, 141, 0.2); */
}
.div4 {
  width: calc(8vw * 12);
  height: 8vh;
  grid-area: 12 / 1 / 12 / 12;
  /* border-top: 01px solid rgba(226, 192, 141, 0.2); */
}
.div5 {
  width: 8vw;
  height: calc(8vh * 12);
  grid-area: 1 / 1 / 12 / 2;
  /* border-right: 01px solid rgba(226, 192, 141, 0.2); */
}
.div6 {
  width: 8vw;
  height: 8vh;
  grid-area: 12 / 11 / 13 / 12;

  border: 1px solid rgba(245, 222, 179, 0.233);
  overflow: hidden;
}

#circle {
  width: 25px;
  height: 25px;
  background-color: #618ca8;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: calc(16vw - 12.5px);
}

canvas {
  /* border: 1px solid rgb(245, 222, 179); */
  width: 100%;
  height: 100%;
  position: absolute;
}

